@page "/home"
<PageTitle>Index</PageTitle>
<div class="row pt-5 px-5">
</div>
<RadzenGrid TItem="dynamic">
    <Columns>
        <RadzenGridColumn TItem="dynamic"></RadzenGridColumn>
    </Columns>
</RadzenGrid>
<RadzenDataGrid TItem="dynamic" ShowEmptyMessage="true">
    <Columns>
    </Columns>
</RadzenDataGrid>
